# Installationsparameter - wird während PXE-Autoinstall befüllt
# Nach Installation unter /root/install-params.env

HOSTNAME=hvm01
IP_ADDRESS=192.168.100.50
NETMASK=255.255.255.0
CIDR=24
GATEWAY=192.168.100.1
VLAN_ID=100
DNS_SERVERS=192.168.100.1
INTERFACE_PROFILE=default
MGMT_INTERFACES=eno1,eno2
VM_TRAFFIC_INTERFACES=ens1f0,ens1f1
STORAGE_INTERFACES=ens2f0,ens2f1
MGMT_BOND_MODE=802.3ad
ISCSI_IQN_PREFIX=iqn.2024-01.com.hpe
DOMAIN=local
